/* app css stylesheet */

body {
    background-color: #f9fcff;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container-fluid {
    background-color: #fff;
    margin: 0 auto;
    max-width: 50rem;
    -webkit-box-shadow: 0px 1px 5px -1px #aaa;
    -moz-box-shadow: 0px 1px 5px -1px #aaa;
    box-shadow: 0px 1px 5px -1px #aaa;
}

h2>a:visited, h2>a.visited {
    color: #5dade2;
}

.btn {
    border: none;
    background: #34495e;
    color: white;
    font-size: 1em;
    text-decoration: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}

.btn.btn-info {
    background-color: #3498db;
}

.btn.btn-info:hover, .btn.btn-info:focus {
    background-color: #5dade2;
}

.btn.btn-info:active, .btn.btn-info.active {
    background-color: #2383c4;
}

h1 {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 1.9rem;
}

h2 {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.31rem;
    line-height: 1.9rem;
}

.label-tag, .label-time {
    font-size: .8rem;
    background-color: #9ac2dd;
    line-height: 1.25rem;
    padding: .1rem .4rem;
    text-shadow: none;
}

.feed-list.unstyled {
    margin: 0 1rem;
}

.feed-list>li {
    float: left;
    margin: 0 .15rem;
    line-height: 1.75rem;
}

.content-list>li {
    border-bottom: 1px solid #ccc;
    margin: .8rem 0;
    padding: 0 1.1rem .75rem 1.1rem;
}

.input-prepend {
    margin: 1rem 0;
}

@media only screen and (min-device-width: 480px) and (max-device-width: 1024px) and (orientation: portrait) {
    .container-fluid {
        max-width: none;
        width: 95%;
        padding: 0;
        margin: 0 auto;
    }

    h1 {
        margin-left: 1rem;
        font-size: 2rem;
        line-height: 2.1rem;
    }

    h2 {
        font-size: 1.8rem;
        line-height: 2.1rem;
    }

    .label-tag, .label-time {
        font-size: 1.3rem;
        background-color: #9ac2dd;
        line-height: 1.5rem;
        padding: .2rem .7rem;
        text-shadow: none;
    }

    .text-left {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .input-prepend .add-on {
        min-width: 1.2rem;
        height: 1.9rem;
        line-height: 1.9rem;
    }

    input[type="text"] {
        font-size: 1.2rem;
        height: 2.5rem;
        line-height: 2.5rem;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .container-fluid {
        max-width: none;
        width: 95%;
        padding: 0;
        margin: 0 auto;
    }

    h1 {
        margin-left: 1rem;
        font-size: 3.6rem;
        line-height: 4.2rem;
    }

    h2 {
        font-size: 3.4rem;
        line-height: 4rem;
    }

    .label-tag, .label-time {
        font-size: 2.4rem;
        background-color: #9ac2dd;
        line-height: 3rem;
        padding: .2rem .7rem;
        text-shadow: none;
        margin: 1rem 1.5rem 1rem 0;
    }

    .text-left {
        font-size: 2.5rem;
        line-height: 3.1rem;
    }

    .input-prepend .add-on {
        display: none;
    }

    input[type="text"] {
        font-size: 3rem;
        height: 4rem;
        line-height: 4rem;
    }
}