/* app css stylesheet */

body {
    background-color: #f9fcff;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container-fluid {
    background-color: #fff;
    margin: 0 auto;
    max-width: 50rem;
    -webkit-box-shadow: 0px 1px 5px -1px #aaa;
    -moz-box-shadow: 0px 1px 5px -1px #aaa;
    box-shadow: 0px 1px 5px -1px #aaa;
}

h2>a:visited, h2>a.visited {
    color: #5dade2;
}

.btn {
    border: none;
    background: #34495e;
    color: white;
    font-size: 1em;
    text-decoration: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}

.btn.btn-info {
    background-color: #3498db;
}

.btn.btn-info:hover, .btn.btn-info:focus {
    background-color: #5dade2;
}

.btn.btn-info:active, .btn.btn-info.active {
    background-color: #2383c4;
}

h1 {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 1.9rem;
}

h2 {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.31rem;
    line-height: 1.9rem;
}

.label-tag, .label-time {
    font-size: .8rem;
    background-color: #9ac2dd;
    line-height: 1.25rem;
    padding: .1rem .4rem;
    text-shadow: none;
}

.feed-list.unstyled {
    margin: 0 .8rem;
}

.feed-list>li {
    float: left;
    margin: 0 .15rem;
    line-height: 1.75rem;
}

.content-list>li {
    border-bottom: 1px solid #ccc;
    margin: .8rem 0;
    padding: 0 1.1rem .75rem 1rem;
}

.row-fluid [class*="span"] {
    margin-left: 1rem;
}

.input-prepend input[type="text"] {
    width: 12.5rem;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.input-prepend input[type="text"]:focus {
    width: 25rem;
}

div.input-prepend {
    margin: 1rem 0 0 .8rem;
}

@media (min-width: 320px) and (max-width: 480px) {
    .input-prepend input[type="text"] {
        width: 80%;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
    }

    .input-prepend input[type="text"]:focus {
        width: 80%;
    }
}

@media (min-width: 320px) and (max-width: 640px) {
    .container-fluid {
        max-width: 95%;
        padding-right: 0;
        padding-left: 0;
    }

    h1 {
        margin: .5rem 0 .5rem .8rem;
    }
}